.global-center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Audiowide", sans-serif;
    color:salmon;
}

.global-footer {
    text-align: center;  
   font-family: "Audiowide", sans-serif;
   color: salmon;
}

body {
    background-color:slateblue;
  }

.div-scroll-1 {
    width: 400px;

}