
$font-family: "Audiowide", sans-serif;
$primary-color: salmon;
$background-color: blue;

.global-center-page { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  color: $primary-color;
}

.global-footer {
  text-align: center;  
  font-family: $font-family;
  color: $primary-color;
}

body {
  background-color: $background-color;
}

.div-scroll-1 {
  width: 400px;
}